.vs/ProjectEvaluation/gade6122 poe part 1 new.strings.v9.bin
.vs/ProjectEvaluation/gade6122 poe part 1 new.projects.v9.bin
.vs/ProjectEvaluation/gade6122 poe part 1 new.metadata.v9.bin
.vs/GADE6122 POE PART 1 NEW/v17/DocumentLayout.json
.vs/GADE6122 POE PART 1 NEW/v17/DocumentLayout.backup.json
.vs/GADE6122 POE PART 1 NEW/v17/.suo
.vs/GADE6122 POE PART 1 NEW/FileContentIndex/7f953636-6dcb-4160-a316-58d2ef1b8e9c.vsidx
.vs/GADE6122 POE PART 1 NEW/DesignTimeBuild/.dtbcache.v2
.vs/GADE6122 POE PART 1 NEW/FileContentIndex/d69b4ba6-5b81-4131-a49e-89359d38338c.vsidx
.vs/GADE6122 POE PART 1 NEW/FileContentIndex/19dd1a23-8c4b-4438-9b47-ec4de1edb6a9.vsidx
.vs/GADE6122 POE PART 1 NEW/FileContentIndex/35f36414-fdc6-4473-a7f6-a9fdf7e482be.vsidx
.vs/GADE6122 POE PART 1 NEW/FileContentIndex/bc1f52ee-0407-49ec-b946-32eae702b296.vsidx
.vs/GADE6122 POE PART 1 NEW/FileContentIndex/00ae32af-3d54-493f-919f-7bf7887b4adf.vsidx
.vs/GADE6122 POE PART 1 NEW/FileContentIndex/64943b6f-4473-41f5-bc15-07ecff531a7f.vsidx
.vs/GADE6122 POE PART 1 NEW/FileContentIndex/9765c8ac-0f56-400e-b068-7e6214c4d17d.vsidx
.vs/GADE6122 POE PART 1 NEW/FileContentIndex/a1b462ec-3238-43b6-827a-ea3a3841b9ba.vsidx
.vs/GADE6122 POE PART 1 NEW/FileContentIndex/f1930896-c8eb-4c36-bbc7-bf911cb6eecf.vsidx
