.vs/ProjectEvaluation/gade6122 poe part 1 new.strings.v9.bin
.vs/ProjectEvaluation/gade6122 poe part 1 new.projects.v9.bin
.vs/ProjectEvaluation/gade6122 poe part 1 new.metadata.v9.bin
.vs/GADE6122 POE PART 1 NEW/v17/DocumentLayout.json
.vs/GADE6122 POE PART 1 NEW/v17/DocumentLayout.backup.json
.vs/GADE6122 POE PART 1 NEW/v17/.suo
.vs/GADE6122 POE PART 1 NEW/FileContentIndex/7f953636-6dcb-4160-a316-58d2ef1b8e9c.vsidx
.vs/GADE6122 POE PART 1 NEW/DesignTimeBuild/.dtbcache.v2
.vs/GADE6122 POE PART 1 NEW/FileContentIndex/d69b4ba6-5b81-4131-a49e-89359d38338c.vsidx
